{% extends "layout.html" %}
{% block content %}
<h1>Blog Application in Flask PYTHON (Version 1.0.1)</h1>

<h2>Description</h2>

<p>This project is developed in flask and python.
It is a blog application created for software
blogs from different authors.</br>

This application is designed for the 
learning process of Flask Python project.
It is currently in testing phase and running in deployment mode.</br>

Visit live application <a href="http://adeelbarki.com">here.</a></p>

<h2>Features</h2>

<p>This demo website is actually a real blog website that has certain features:</p>
<ul>
    <li>App is build in flask and database used is sqlite.</li>
    <li>Registration and Login Forms</li>
    <li>Forgot Password with email verification</li>
    <li>Posting, updating & deleting a blog</li>
    <li>Order blogs using priority and pagination</li>
    <li>Blogs filter by author</li>
</ul>

<i>More features will be included in next version of app.</i></br>
<i>_Next Upgrade includes Like button and comment on specific post.</i>


<h2>Source Code</h2>

<p>For source code visit my 
<a href="https://github.com/adeelbarki/flask_python_blog_application">
Github Repo</a></br> 

In order to run it locally, clone the github repo in your local machine.</br>

<strong>
$ git clone https://github.com/adeelbarki/flask_python_blog_application.git
</strong></br>

To run this application, 
simply run this command in flask_python_blog_application folder.</br>

<strong>$ python run.py</strong></br>

Python version 3.6 must be installed for better performance.</br></p>

<h2>Course</h2>
<p>
This is a sample project designed during 
Udacity NanoDegree Full Stack Web Development Course.</p> 

<h2>Credits</h2>
<p>
Special thanks to <a href="https://www.youtube.com/user/schafer5/about">Core Schafer</a> 
for excellent lectures and teaching programming languages.</br>

<h2>Author</h2>

<h3><strong>Adeel Barki</strong></h3>
<i>Full Stack Engineer / Electronics Engineer</i>
<ul>
    <li>Email(Contact): _adeelbarki@gmail.com_</li>
    <li>LinkedIn: <i>https://www.linkedin.com/in/adeelbarki/</i></li>
    <li>twitter: <i>https://twitter.com/adeelbarki</i></li>
    <li>Facebook: <i>https://www.facebook.com/adeelbarki</i></li>
</ul>
{% endblock content %}
