{% extends "layout.html" %}
{% block content %}
    <h1>About Page</h1>
    <p>This application is designed for the learning process of Flask Python project.
It is currently in testing phase and running in deployment mode.</p></br> 

<h2>Author</h2>
<p>
        Adeel Barki
        Full Stack Engineer/Electronics Engineer</br></br>
        For source code visit:</br></br>

        
        https://github.com/adeelbarki/flask_python_blog_application </br></br>


        In order to run it locally, clone the github repo in your local machine. </br></br>

        git clone https://github.com/adeelbarki/flask_python_blog_application.git </br></br>

        To run this application, simply run this command in flask_python_blog_application folder </br> </br>

        python run.py </br></br>

        Python version 3.6 must be installed for better performance.
    </p>
{% endblock content %}

